In [38]:
import pandas as pd

In [39]:
data = {
    'Education Level': ['School', 'UG', 'PG', 'PG', 'UG'],
    'Review': ['Poor', 'Average', 'Good', 'Good', 'Average'],
    'Experience Level': ['Beginner', 'Intermediate', 'Advanced', 'Advanced', 'Intermediate'],
    'Color': ['Red', 'Blue', 'Red', 'Red', 'Blue']
}

df = pd.DataFrame(data)
df

  Education Level   Review Experience Level Color
0          School     Poor         Beginner   Red
1              UG  Average     Intermediate  Blue
2              PG     Good         Advanced   Red
3              PG     Good         Advanced   Red
4              UG  Average     Intermediate  Blue

In [40]:
df.iloc[:,-1]

0     Red
1    Blue
2     Red
3     Red
4    Blue
Name: Color, dtype: object

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:3],df.iloc[:,-1], test_size=0.3,random_state=0)
X_train

  Education Level   Review Experience Level
1              UG  Average     Intermediate
3              PG     Good         Advanced
4              UG  Average     Intermediate

In [42]:


from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['School','UG','PG'],['Poor','Average','Good'],['Beginner','Intermediate','Advanced']])

oe.fit(X_train)

X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

In [43]:
X_train_encoded

array([[1., 1., 1.],
       [2., 2., 2.],
       [1., 1., 1.]])

In [44]:
X_test

  Education Level Review Experience Level
2              PG   Good         Advanced
0          School   Poor         Beginner

In [45]:
X_test_encoded

array([[2., 2., 2.],
       [0., 0., 0.]])

In [47]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)

In [50]:
y_train

1    Blue
3     Red
4    Blue
Name: Color, dtype: object

In [48]:
y_train_encoded

array([0, 1, 0])

In [51]:
y_test

2    Red
0    Red
Name: Color, dtype: object

In [49]:
y_test_encoded

array([1, 1])